h1 {
  text-align: center;
}

.me {
  margin: auto;
  width: 150px;
  height: 250px;
  display: block;
}

.intro_me {
  border: 2px solid black;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
}

body {
  background-color: rgb(153, 235, 255);
}

.sidebar {
  width: 10%;
  float: right;
  font-size: smaller;
}